*.swp
last_check
bundles/
octave-workspace
colourschemes.log
.last_check
cargo
**/autorandr/**/.tmp
.aider*
.nvimlog
dircolors-solarized/
node_modules
package-lock.json
package.json
ripgreprc
stow/autorandr/.config/autorandr/home2_1/
stow/clangd/
stow/dircolors/
stow/env-modules/.modulefiles/fo*
stow/env-modules/.modulefiles/tokens
stow/env-modules/.modulefiles/tokens
stow/fish/.config/fish/completions/
stow/fish/.config/fish/functions/*.copy
stow/gnupg/.gnupg/*
stow/gnupg/.gnupg/private-keys-v1.d/
stow/gnupg/.gnupg/pubring.kbx
stow/gnupg/.gnupg/pubring.kbx~
stow/gnupg/.gnupg/sshcontrol
stow/gnupg/.gnupg/trustdb.gpg
stow/goose/.config/goose/history.txt
stow/i3/.config/config
stow/i3/.config/i3/bak.default
stow/i3/.config/i3/config
stow/i3/.config/i3/default
stow/i3/.config/i3/i3
stow/neovim/.config/nvim/.netrwhist
stow/neovim/.config/nvim/autoload/
stow/neovim/.config/nvim/nvim_lsp/jdtls/
stow/neovim/.config/nvim/plugin/
stow/rofi/.config/DEL.rofi/
stow/rofi/.config/rofi/applets
stow/rofi/.config/rofi/colors/
stow/rofi/.config/rofi/images/
stow/rofi/.config/rofi/launchers/
stow/rofi/.config/rofi/powermenu/
stow/rofi/.config/rofi/scripts/
stow/screenlayout/.screenlayout/*.sh
stow/wireshark/.config/wireshark/preferences
stow/wireshark/.config/wireshark/recent
stow/wireshark/.config/wireshark/recent_common
stow/zellij/.config/zellij/plugins/
stow/zellij/zellij-sessions/


# Colour schemes
stow/kitty/.config/kitty/*.conf

# Fisher-installed plugin files (managed by fish_plugins)
stow/fish/.config/fish/conf.d/fzf.fish
stow/fish/.config/fish/conf.d/nvm.fish
stow/fish/.config/fish/functions/__bass.py
stow/fish/.config/fish/functions/bass.fish
stow/fish/.config/fish/functions/_fzf*.fish
stow/fish/.config/fish/functions/fzf_configure_bindings.fish
stow/fish/.config/fish/functions/_nvm*.fish
stow/fish/.config/fish/functions/nvm.fish
stow/fish/.config/fish/fish_variables
