*.swp
last_check
bundles/
octave-workspace
colourschemes.log
.last_check
cargo
stow/gnupg/.gnupg/private-keys-v1.d/
stow/gnupg/.gnupg/pubring.kbx
stow/gnupg/.gnupg/pubring.kbx~
stow/gnupg/.gnupg/sshcontrol
stow/gnupg/.gnupg/trustdb.gpg
stow/wireshark/.config/wireshark/recent
stow/wireshark/.config/wireshark/recent_common
stow/wireshark/.config/wireshark/preferences
stow/neovim/.config/nvim/.netrwhist
.nvimlog
stow/neovim/.config/nvim/nvim_lsp/jdtls/
stow/i3/.config/config
.aider*
stow/env-modules/.modulefiles/fo*
stow/gnupg/.gnupg/*
stow/goose/.config/goose/history.txt
**/autorandr/**/.tmp
stow/dircolors/
stow/i3/.config/i3/config
stow/rofi/.config/rofi/applets
stow/rofi/.config/rofi/colors/
stow/rofi/.config/rofi/images/
stow/rofi/.config/rofi/launchers/
stow/rofi/.config/rofi/powermenu/
stow/rofi/.config/rofi/scripts/
stow/screenlayout/.screenlayout/*.sh
stow/zellij/.config/zellij/plugins/
stow/zellij/zellij-sessions/
