[user]
	name = Matthew Russell
	email = matthew.g.russell@gmail.com
	signingkey = 9DADF75304599BD8
[includeIf "gitdir:~/workspace/capi/**/"]
	path = 	~/.gitconfig-ford
[includeIf "gitdir:~/workspace/phx-fsb/**/"]
	path = 	~/.gitconfig-ford
[includeIf "gitdir:~/workspace/ford/**/"]
	path = 	~/.gitconfig-ford
[includeIf "gitdir:/src/**/"]
	path = 	~/.gitconfig-ford
[includeIf "gitdir:/f/**/*"]
	path = 	~/.gitconfig-ford
[includeIf "gitdir:/f/**/"]
	path = 	~/.gitconfig-ford
[includeIf "gitdir:/tmp/**/"]
	path = 	~/.gitconfig-ford
[url "https://github.com"]
	insteadOf = ssh://github.com
[commit]
	gpgsign = true
[core]
	quotepath = false
	commitGraph = true
	commentchar = @
	excludesfile = ~/dotfiles/gitignore
	pager = delta
[gc]
	writeCommitGraph = true
[merge]
	tool = nvimdiff
[credential]
	helper = cache --timeout=6048009
[color]
	ui = auto
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[push]
	default = current
[pull]
	rebase = true
[fetch]
	prune = true
[rebase]
	autoStash = true
	; autoSquash = true

[diff]
	colorMoved = default

[uploadpack]
	allowFilter = true

[init]
	defaultBranch = main

[merge "tool"]
	path = /bin/nvim
[mergetool "nvim"]
	path = /bin/nvim

[merge]
	  conflictstyle = diff3

[diff]
	  colorMoved = default

[interactive]
	; diffFilter = delta --color-only
	diffFilter = delta --color-only --features=interactive

[pager]
	diff = delta
	log = delta
	reflog = delta
	show = delta

[delta]
	navigate = true    # use n and N to move between diff sections
	light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
	; features = decorations
	; features = collared-trogon
	; features = tangara-chilensis
	features = woolly-mammoth
	; features = calochortus-lyallii
	; side-by-side = true
	; commit-decoration-style = ol "#1136ff"

[delta "interactive"]
	keep-plus-minus-markers = false

[delta "decorations"]
	commit-decoration-style = blue ol
	commit-style = raw
	file-style = omit
	hunk-header-decoration-style = blue box
	hunk-header-file-style = red
	hunk-header-line-number-style = "#067a00"
	hunk-header-style = file line-number syntax

; vim: ts=2 sw=2 sts=0 noet ft=gitconfig :
